<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjq.bejingunion">

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求-->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />


        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BroadBandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MobileNumberListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewProductsRecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContractMachineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddressFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommonListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddressEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommonWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PartnerFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PayForPointsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BroadBandDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SuperRegionSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CardDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PhoneNumberActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.BroadbandOrderConfirmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.BroadbandOrderConfirmActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.IdentifyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PhoneNumberConfirmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ContractMachineDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ContractMachineConfirmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
